html {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey_light: hsl(0, 0%, 20%);
  --grey_medium: hsl(0, 0%, 12%);
  --grey_dark: hsl(0, 0%, 8%);
}

body {
  background-color: var(--grey_dark);
}

.social-links-card__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  position: fixed;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.social-links-card {
  background-color: var(--grey_medium);
  border-radius: 15px;
  padding: 1rem;
  width: 300px;
  color: var(--white);
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.card-content__avatar {
  border-radius: 50%;
  overflow: hidden;
  height: 75px;
  width: 75px;
}

.card-content__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  .heading {
    font-size: small;
  }

  .tagline {
    color: var(--green);
  }
}
