html {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey_light: hsl(0, 0%, 20%);
  --grey_medium: hsl(0, 0%, 12%);
  --grey_dark: hsl(0, 0%, 8%);
}

body {
  background-color: var(--grey_dark);
}

.social-links-card__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  position: fixed;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.social-links-card {
  background-color: var(--grey_medium);
  border-radius: 15px;
  padding: 1rem;
  width: 300px;
  color: var(--white);
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.card-content__avatar {
  border-radius: 50%;
  overflow: hidden;
  height: 100px;
  width: 100px;
  margin: 0.5rem;
}

.card-content__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  .heading {
    font-size: small;
  }

  .tagline {
    color: var(--green);
  }
}

.card-content__links-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  padding: 0;

  li {
    list-style-type: none;
    background: var(--grey_light);
    width: 100%;
    text-align: center;
    padding: 14px;
    border-radius: 7px;
  }

  li:hover {
    background-color: var(--green);
    color: var(--grey_dark);
    cursor: pointer;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}
